.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: 200px;

  & div {
    & img {
      width: 200px;
      height: 150px;
      object-fit: cover;
      object-position: center;
    }
  }
}
